.cart-ic-item {
  display: flex;
  .cart-ic-img_container {
    .cart-item_img {
      width: 100%;
    }
  }
  .cart-item_header {
    font-size: 1.25rem;
  }
  .cart-item_price {
    font-size: 1.25rem;
  }
  .cart-item_amount {
    font-size: 1.25rem;
  }
}
