.cart-ic-item {
  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 0.5rem;
  border: 1px solid black;
  .cart-ic-img_container {
    flex: 1;
    .cart-item_img {
      width: 75%;
    }
  }
  .cart-item_header {
    font-size: 1.25rem;
    flex: 4;
  }
  .cart-item_price {
    font-size: 1.25rem;
    flex: 1;
  }
  .cart-item-amount_container {
    flex: 1;
    display: flex;
    .cart-item_amount {
      font-size: 1.25rem;
    }
  }
  .cart-item_remove {
    flex: 1;
  }
}
