.custom_header {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
}

.custom-flavors {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content;
  padding: 2rem;
  margin-bottom: 2rem;
  .flavors_header {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5rem;
  }
  .flavors_list {
    overflow-y: scroll;
    max-height: 50vh;
    grid-column: 1 / -1;
    border: 1px solid black;
  }
}

.custom_ice-cream {
  grid-column: 5 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content min-content 1fr;
  padding: 2rem;
  margin-bottom: 2rem;
  .custom_select {
    grid-column: 1/ 5;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .custom-info_header {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5rem;
    height: min-content;
    margin: 1rem 0;
  }
}

.picked_flavors {
  grid-column: 1 / -1;
  height: 100%;
}
