.footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  height: 150px;
  background-color: var(--color-2);
  margin-top: auto;
  div {
    grid-column: span 2;
    padding: 1rem;
    h3 {
      font-size: 1.5rem;
    }
  }
  :first-child {
    grid-column: 3 / 5;
  }
}
