a {
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-4);
  font-size: 1rem;
}

#root {
  display: grid;
  min-height: 100vh;
  grid: auto 1fr auto / repeat(12, 1fr);
  column-gap: 1em;
}

main {
  grid-column: 3 / -3;
  display: grid;
  grid-template-columns: subgrid;
  background-color: white;
  margin: 4em 0;
  padding: 2em 0;
  border-radius: 1em;
}

button {
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
