.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.nav-bar {
  grid-column: 3 / -3;
  display: grid;
  grid-template-columns: subgrid;
  line-height: 1.5;
  .nav-link,
  .search {
    background-color: var(--color-3);
    border-radius: 0.5em;
    grid-column: span 2;
    text-align: center;
    align-self: center;
    padding: 0.5em;
    font-size: 1.5rem;
  }
  .search {
    display: flex;
    align-items: center;
    .nav-bar-search_input {
      /* line-height: 1.5; */
      font-size: 1.7rem;
      width: 100%;
      background-color: white;
      border-radius: 1rem;
      border: 0.125rem solid black;
      padding: 0 0.5rem;
    }
    .nav-bar-search_button {
      padding: 0;
      font-size: 2rem;
      border: none;
      background-color: var(--color-3);
    }
  }
}
