.pagination {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  .pagination-navigation {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin: 1rem;
  }
  .items {
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 1rem;
  }
}

.activeIndex {
  background-color: #dad4b5;
}
