.user_button {
  grid-column: 1 / -1;
  margin: auto;
  font-size: 1.5rem;
}
.user_history-msg {
  grid-column: 1 / -1;
  text-align: center;
}
.user_name {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.5rem;
}
